<div class="navbar">

        <div>
            <a href="/admin">
                <p> Admin </p> 
            </a>
        </div>


        <div>
            <a href="/book">
                <p> Book </p>
            </a>
        </div>
        
        <div class="dropDown">
            <a href="/restaurants">
                <p  class="dropDownButton"> Restaurants </p>
            </a>
            <div class="dropDownContent"> 
                {{#each (giveMeRestaurants)}}
                    <a href='/restaurant/{{this.id}}'>
                        <p>{{this.name}}</p>
                    </a>
                {{/each}}
            </div> 
        </div>
        
        <div>
            <a href="/home">
                <p> Home </p>
            </a>
        </div>
    </div>